<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent</h3>
            <hr>
            <app-servers></app-servers> <!-- This is element selector style -->
            

            <!-- <div app-servers></div> --> <!-- 1. This is attribute selector style -->

            <!-- 2. Angular does not support selector using id -->

            <!-- <div class="app-servers"></div> --> <!-- 3. This is class selector style -->

        </div>
    </div>
</div>